<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    
    
{
  "responseId": "ff837e16-84b2-409a-a401-29a069c19f5f-c4f60134",
  "queryResult": {
    "queryText": "d",
    "action": "input.unknown",
    "parameters": {},
    "allRequiredParamsPresent": true,
    "fulfillmentText": "제가 제대로 이해하지 못한것 같아요. 죄송해요.",
    "fulfillmentMessages": [
      {
        "text": {
          "text": [
            "제가 제대로 이해하지 못한것 같아요. 죄송해요."
          ]
        }
      }
    ],
    "outputContexts": [
      {
        "name": "projects/airplain-qhtx/agent/sessions/dfb0735e-80e9-5dbf-7ea5-9c0e7926f331/contexts/__system_counters__",
        "lifespanCount": 1,
        "parameters": {
          "no-input": 0,
          "no-match": 1
        }
      }
    ],
    "intent": {
      "name": "projects/airplain-qhtx/agent/intents/047750cc-4148-431c-9967-60f4a709a8f8",
      "displayName": "Default Fallback Intent",
      "isFallback": true
    },
    "intentDetectionConfidence": 1,
    "languageCode": "ko",
    "sentimentAnalysisResult": {
      "queryTextSentiment": {
        "score": 0.1,
        "magnitude": 0.1
      }
    }
  }
}

    
<style>
  df-messenger {
   --df-messenger-bot-message: #D6F7FC;
   --df-messenger-chat-background-color: #EFF6F6;
   --df-messenger-input-box-color: #EFF1F1;
   --df-messenger-font-color: black;
   --df-messenger-user-message: #FBF7B9;
  }
</style>
    
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
